<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">

  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>


  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="success">001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="success">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

 

  <ion-item-sliding>
      <ion-item color="dark">
  
        <ion-chip slot="start">
          <ion-label color="danger">004</ion-label>
        </ion-chip>
  
        <ion-label>
          <div>
            <h2>Charmander</h2>
            <ion-badge color="fogo">Fire</ion-badge>
          </div>
        </ion-label>
  
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
        </ion-thumbnail>
  
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item color="dark">
    
          <ion-chip slot="start">
            <ion-label color="secondary">007</ion-label>
          </ion-chip>
    
          <ion-label>
            <div>
              <h2>Squirtle</h2>
              <ion-badge color="secondary">Water</ion-badge>
            </div>
          </ion-label>
    
          <ion-thumbnail slot="end">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
          </ion-thumbnail>
    
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning">Alterar</ion-item-option>
          <ion-item-option color="danger">Excluir</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
          <ion-item color="dark">
      
            <ion-chip slot="start">
              <ion-label color="warning">025</ion-label>
            </ion-chip>
      
            <ion-label>
              <div>
                <h2>Pikachu</h2>
                <ion-badge color="warning">Eletric</ion-badge>
              </div>
            </ion-label>
      
            <ion-thumbnail slot="end">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
            </ion-thumbnail>
      
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning">Alterar</ion-item-option>
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item color="dark">
      
            <ion-chip slot="start">
              <ion-label color="planta">722</ion-label>
            </ion-chip>
      
            <ion-label>
              <div>
                <h2>Rowlet</h2>
                <ion-badge color="planta">Grass</ion-badge>
                <ion-badge color="flying">Flying</ion-badge>
              </div>
            </ion-label>
      
            <ion-thumbnail slot="end">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/722.png">
            </ion-thumbnail>
      
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning">Alterar</ion-item-option>
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item color="dark">
      
            <ion-chip slot="start">
              <ion-label color="planta">723</ion-label>
            </ion-chip>
      
            <ion-label>
              <div>
                <h2>Dartrix</h2>
                <ion-badge color="planta">Grass</ion-badge>
                <ion-badge color="flying">Flying</ion-badge>
              </div>
            </ion-label>
      
            <ion-thumbnail slot="end">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/723.png">
            </ion-thumbnail>
      
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning">Alterar</ion-item-option>
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item color="dark">
      
            <ion-chip slot="start">
              <ion-label color="planta">724</ion-label>
            </ion-chip>
      
            <ion-label>
              <div>
                <h2>Decidueye</h2>
                <ion-badge color="planta">Grass</ion-badge>
                <ion-badge color="ghost">Ghost</ion-badge>
              </div>
            </ion-label>
      
            <ion-thumbnail slot="end">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/724.png">
            </ion-thumbnail>
      
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning">Alterar</ion-item-option>
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item color="dark">
      
            <ion-chip slot="start">
              <ion-label color="fogo">725</ion-label>
            </ion-chip>
      
            <ion-label>
              <div>
                <h2>Litten</h2>
                <ion-badge color="fogo">Fire</ion-badge>

              </div>
            </ion-label>
      
            <ion-thumbnail slot="end">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/725.png">
            </ion-thumbnail>
      
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning">Alterar</ion-item-option>
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item color="dark">
      
            <ion-chip slot="start">
              <ion-label color="fogo">726</ion-label>
            </ion-chip>
      
            <ion-label>
              <div>
                <h2>Torracat</h2>
                <ion-badge color="fogo">Fire</ion-badge>

              </div>
            </ion-label>
      
            <ion-thumbnail slot="end">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/726.png">
            </ion-thumbnail>
      
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning">Alterar</ion-item-option>
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item color="dark">
      
            <ion-chip slot="start">
              <ion-label color="fogo">727</ion-label>
            </ion-chip>
      
            <ion-label>
              <div>
                <h2>Incineroar</h2>
                <ion-badge color="fogo">Fire</ion-badge>
                <ion-badge color="trevas">Dark</ion-badge>

              </div>
            </ion-label>
      
            <ion-thumbnail slot="end">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/727.png">
            </ion-thumbnail>
      
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning">Alterar</ion-item-option>
            <ion-item-option color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        



</ion-content>